.services-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 40vh;
  background-color: var(--High-contrast-Text);

  color: var(--Backgroundsection);
}

.services-container-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 40vh;
  background-color: var(--High-contrast-Text);
  color: var(--Backgroundsection);
}

.services-container h2 {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  color: var(--Backgroundsection);
  font-size: clamp(2.2rem, 4vw, 2.7rem);
}

/* Titres */
.service-title {
  color: var(--Backgroundsection);
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.service-item {
  text-align: center;
  max-width: 250px;
  flex: 1;
  margin: 10px;
}

/* Icônes */
.service-icon {
  color: var(--Backgroundsection);
  margin-bottom: var(--Margin);
  font-size: clamp(30px, 5vw, 50px);
}

.showroom-text h3,
.showroom-text h2 {
  color: var(--Backgroundsection);
  margin-bottom: var(--Margin);
}

.showroom-text h2 {
  font-size: clamp(2rem, 5vw, 2.5rem);
}

.showroom-text h3 {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
}

.service-description {
  font-size: clamp(0.8rem, 2.5vw, var(--description-font-size));
  line-height: 1.4;
  text-align: center;
  color: var(--Backgroundsection);
  padding: 0 10px;
}

/* ✅ Responsive Design */
@media (max-width: 1024px) {
  .services-container {
    align-items: center;
    min-height: auto;
  }

  .service-item {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .services-container-items {
    flex-direction: column;
    gap: 20px;
    padding: var(--Margin) 10px;
  }

  .service-item {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .services-container {
    gap: 15px;
    padding: var(--Margin);
  }

  .service-item {
    max-width: 95%;
  }
}
