@font-face {
  font-family: "Neuton";
  src: url("styles/font/Neuton-ExtraLight.woff2") format("woff2"),
    url("styles/font/Neuton-ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "argesta_headlineregular";
  src: url("styles/font/Argesta_Font_Web/Argesta_Webfont/argestaheadline-regular-webfont.eot");
  src: url("styles/font/Argesta_Font_Web/Argesta_Webfont/argestaheadline-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("styles/font/Argesta_Font_Web/Argesta_Webfont/argestaheadline-regular-webfont.woff2")
      format("woff2"),
    url("styles/font/Argesta_Font_Web/Argesta_Webfont/argestaheadline-regular-webfont.woff")
      format("woff"),
    url("styles/font/Argesta_Font_Web/Argesta_Webfont/argestaheadline-regular-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BlauerNue";

  src: url("styles/font/TrueType/BlauerNue-Light.woff2") format("woff2"),
    url("styles/font/TrueType/BlauerNue-Light.woff") format("woff"),
    url("styles/font/TrueType/BlauerNue-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BlauerNueBold";

  src: url("styles/font/TrueType/BlauerNue-Bold.woff2") format("woff2"),
    url("styles/font/TrueType/BlauerNue-Bold.woff") format("woff"),
    url("styles/font/TrueType/BlauerNue-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  display: block;
  background-color: var(--Backgroundsection);
  width: 100vw;
  max-width: 100vw;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "BlauerNue";
  letter-spacing: 0.5px;
  overflow: hidden;
  height: 100%;
  background-color: var(--Backgroundsection);
  color: var(--High-contrast-Text);
}

body.modal-open,
html.modal-open {
  overflow: hidden;
}

[data-scroll-container] {
  min-height: 100vh;
}

:root {
  --HauteurHeader: 8vh;

  /* Font sizes */
  --font-size-small: clamp(12px, 0.8vw, 16px);
  --font-size-medium: clamp(16px, 1vw, 20px);
  --font-size-large: clamp(24px, 1.5vw, 32px);

  --spacing-small: 10px;
  --spacing-medium: 20px;
  --border-radius: 20px;
  --padding: 10px 15px;

  /* Backgrounds */
  --Backgroundsection: #eaeaea;
  --BackgroundLight: #a8c4e1;
  --section: #a8c4e1;
  --CardBackground: #a9afb5;
  --icon-color: #232c3b;

  /* Borders and Text */
  --BordersAndSeparators: #a9afb5;
  --BorderLight: #a8c4e1;
  --BorderDark: #232c3b;
  --High-contrast-Text: #0099cc; /* couleurs officielle logo */
  --Medium-contrast-Text: #444;
  --MutedText: #a8c4e1;
  --Margin: 10px;
  --PaddingMobile: 24px 24px 24px 24px;
  --MaxWidthText: 750px;
  --MaxWidthBanner: 1300px;

  /* Buttons and links */
  --PrimaryButton: #232c3b;
  --SecondaryButton: #a8c4e1;
  --HoverEffect: #a9afb5;
  --links: #232c3b;
  --ButtonHover: #ccecff8a;
  --disabledLink: #a9afb5;
  --titre: #232c3b;

  /* Alerts and Status */
  --accent: #a8c4e1;
  --danger: #c14444;
  --success: #3c8c60;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

.sr-only {
  visibility: hidden;
  height: 0px;
}

.curseur {
  background-color: var(--High-contrast-Text);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  box-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0);
  mix-blend-mode: difference;
}

.curseur-text {
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0);
  color: var(--disabledLink);
}

a {
  text-decoration: none;
  color: var(--High-contrast-Text);
  list-style-type: none;
}

a:hover {
  color: var(--links);
  transform: all 0.3s;
}

header {
  position: fixed;
  width: auto;
  z-index: 1000;
  opacity: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BlauerNueBold";
  letter-spacing: -0.3px;
  line-height: 1em;
}

h1 {
  color: var(--High-contrast-Text);
  font-size: clamp(25px, calc(40 * 0.01 * 8vmin), 30px);
  text-align: center;
}

h2,
h3 {
  color: var(--High-contrast-Text);
  font-size: clamp(18px, calc(25 * 0.01 * 8vmin), 30px);
  text-align: left;
  width: 100%;
}

h4 {
  color: var(--High-contrast-Text);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

h5 {
  color: var(--titre);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h6 {
  color: var(--titre);
  font-size: 1rem;
  text-align: center;
}

main {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 90vw;
}
.DecalageHeader {
  margin-top: var(--HauteurHeader);
}

input {
  height: 100%;
  background-color: transparent;
  color: var(--High-contrast-Text);
  border: 1px solid var(--High-contrast-Text);
  padding: 8px;
  border-radius: 10px;
  width: 80%;
  margin: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  transition: all 0.3s ease-out;
  width: 100vw;
  overflow: hidden;
  min-height: 25vh;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--Margin);
}

button {
  color: var(--High-contrast-Text);
  padding: 10px 15px;
  font-weight: 500;
  min-width: 100%;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  outline: none;

  z-index: 1;
}

label {
  width: auto;
  height: 100%;
}

svg {
  height: 100%;
}

p {
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  padding-bottom: 1em;
  font-size: var(--font-size-small);
  line-height: 1.5;
}

strong {
  color: var(--Medium-contrast-Text);
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  font-family: "BlauerNueBold";
  line-height: 1.5;
}

textarea {
  width: 100%;
  background-color: transparent;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border: 1px solid var(--High-contrast-Text);
  color: var(--High-contrast-Text);
  resize: none;
}

select {
  width: 100%;
  background-color: transparent;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  color: var(--High-contrast-Text);
  border: 1px solid var(--High-contrast-Text);
}

select option {
  font-size: 1rem;
  color: var(--BordersAndSeparators);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--BordersAndSeparators);
  box-shadow: 0 0 5px var(--BordersAndSeparators);
}

form {
  width: 100%;
  height: 100%;
  text-align: center;
}

iframe {
  width: 100%;
  height: 500px;
}

::selection {
  background: var(--Backgroundsection);
  color: var(--High-contrast-Text);
  text-shadow: none;
  outline: none !important;
}

.lazy-load-image-background {
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: none;
    max-width: 100vw;
  }

  h1 {
    margin-bottom: 0;
  }

  h2,
  h3 {
    color: var(--High-contrast-Text);
    width: 100%;
  }

  p {
    font-size: 0.7rem;
  }

  iframe {
    height: 200px;
  }

  footer {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 1030px) {
  h4 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 2559px) {
  h6 {
    color: #eee;
    color: var(--titre);
    font-size: 1.2rem;
    text-align: center;
  }

  select,
  textarea {
    background-color: initial;
    border: 1px solid #eee;
    border: 1px solid var(--High-contrast-Text);
    border-radius: 2px;
    color: #eee;
    color: var(--High-contrast-Text);
    margin: 2vh 0;
    padding: 22px;
    width: 100%;
    height: 4vh;
    font-size: 1.7rem;
  }

  h1 {
    color: var(--titre);
    font-size: clamp(25px, calc(40 * 0.01 * 12vmin), 50px);
    text-align: center;
  }

  h2,
  h3 {
    color: var(--High-contrast-Text);
    font-size: clamp(18px, calc(25 * 0.01 * 12vmin), 30px);
    text-align: left;
    width: 100%;
  }

  p {
    word-wrap: break-word;
    white-space: normal;
    text-align: justify;
    padding-bottom: 0.5em;
    line-height: 1.3;
  }
}
